@font-face {
  font-family: "Eevee Mode";
  src: url("https://yoyoyojoe.github.io/font/EeveeMode-Regular.eot");
  src: url("https://yoyoyojoe.github.io/font/EeveeMode-Regular.woff") format("woff"),
  url("https://yoyoyojoe.github.io/font/EeveeMode-Regular.woff2") format("woff2"),
  url("https://yoyoyojoe.github.io/font/EeveeMode-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Eevee Mode SemiBold";
  src: url("https://yoyoyojoe.github.io/font/EeveeMode-SemiBold.eot");
  src: url("https://yoyoyojoe.github.io/font/EeveeMode-SemiBold.woff") format("woff"),
  url("https://yoyoyojoe.github.io/font/EeveeMode-SemiBold.woff2") format("woff2"),
  url("https://yoyoyojoe.github.io/font/EeveeMode-SemiBold.otf") format("opentype");
}

:root {
  --primary-color: #000;
  --secondary-color: #666;
  --primary-link-color: #666;
  --secondary-link-color: #000;
  --primary-background-color: #f3f3f3;
  --secondary-background-color: #eee;
}

.dark-mode {
  --primary-color: #E1E1E1;
  --secondary-color: #eee;
  --primary-link-color: #888;
  --secondary-link-color: #E1E1E1;
  --primary-background-color: rgb(0, 0, 0);;
  --secondary-background-color: rgb(32, 32, 32);
}

html {
  min-width: 350px;
  min-height: 580px;
}

body {
  color: var(--primary-color);
  background-color: var(--primary-background-color);
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* margin: 0 --> moves menu bar to stick to top of window */
  margin: 0;
  /* transition-property: background-color, color;
  transition-duration: 1s; */
}

.navbar {
  color: var(--primary-color);
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 2rem 0px 2rem; 
  /* transition: background-color 1s; */
  /* padding left & right does not work not the same as margin */
}

h1 {
  font-family: 'Eevee Mode SemiBold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin-bottom: 1rem;
}

button { 
  margin: 10px 1rem; 
}


.link {
  color: var(--primary-link-color);
  background: none;
  border: none;
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.main-menu {
  color: var(--primary-link-color);
  position: relative;
  display: flex;
  align-items: center;
  /* If the margin property has two values: top & bottom are 1rem, right & left are 0px */
}

.main-menu:hover {
  color: var(--secondary-link-color);
}

.dropdown-container1, .dropdown-container2 {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

/* focus: keyboard or mouse event */
.dropdown-container1.active > .link, .link:hover, 
.dropdown-container2.active > .link, .link:hover {
  color: var(--secondary-link-color);
}

/* .dropdown-container1.active > .link.dark-mode, 
.link.dark-mode:hover, 
.dropdown-container2.active > .link.dark-mode, 
.link.dark-mode:hover {
  color: var(--secondary-link-color);
} */

/* inside of our dropdown-container, for when link is focused and the dropdown-menu (sibling) that comes after the link */
.dropdown-container1.active > .link + .dropdown-menu {
  background-color: var(--secondary-background-color);
  color: var(--primary-color);
  opacity: 1;
  transform: translateY(0px); 
  pointer-events: auto;
}

.dropdown-container2.active > .link + .dropdown-menu {
  background-color: var(--secondary-background-color);
  color: var(--primary-color);
  opacity: 1;
  transform: translateY(0px); 
  pointer-events: auto;
}

/* Use a media query to add a break point at 418px: */
@media screen and (max-width: 418px) {
  .dropdown-container1.active > .link + .dropdown-menu {
    transform: translateY(25px); 
  }
  .last {
    right: -1em;
  }
}

@media screen and (min-width: 419px) and (max-width: 441px) {
  .dropdown-container1.active > .link + .dropdown-menu {
    right: 0;
  }
  .last {
    right: -20%;
  }
}

@media screen and (min-width: 500px) {
  .dropdown-container2.active > .link + .dropdown-menu {
    right: 0;
  }
  .dropdown-menu {
    left: 10px;
  }
  .last {
    right: 0;
  }
}

/* inside of our dropdown container */
.dropdown-menu {
  position: absolute; 
  top: calc(100% + .25rem);
  color: var(--primary-color);
  background-color: var(--primary-background-color);
  padding: 0rem .75rem .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  /* offset-x | offset-y | blur-radius | spread-radius | color: -> rgba for a transparent color */
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px); 
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.info-grid {
  display: -ms-grid;
  display: grid;
  /* top & bottom */
  /* left & right */
  -ms-grid-columns: repeat(1, max-content);
  grid-template-columns: repeat(1, max-content);
  gap: 1rem;
  /* max-width: 200px; */
}

/* .dropdown-menu.dark-mode {
  background-color: var(--primary-background-color);
} */

.dropdown-heading {
  margin-top: .75rem;
  margin-bottom: 5px;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  /* gap: .25rem; */
}

.dark-mode-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 3.5em;
  min-width: 375px;
  position: absolute;
  z-index: 0;
}

.dark-mode-toggle {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: content 1s;
}

.dark-mode-toggle:hover {
  border-radius: 5px;
  background-color: #999;
}

/* main-content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-container,
.blog-container,
.contact-container,
.second-container {
  /* min-width: 375px; */
  min-height: 100px;
  max-width: 375px;
  /* align-items:center; */
  /* min-height: 100px; */
  /* min-width: 375px; */
  padding: 2em;
  font-weight: 300;
}

.special-access {
  right: 2em;
  bottom: 2em;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  pointer-events: auto;
}

.button {
  background: #f7f7f7;
  background-image: linear-gradient(to bottom,#fff,#eee);
  background-origin: border-box;
  display: inline-block;
  border: 1px solid rgba(0,0,0,.2);
  border-bottom-color: rgba(0,0,0,.3);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  margin: 10px 1rem; 
  min-height: 30px;
  padding: 0 12px;
  text-shadow: 0 1px 0 #fff;
  text-transform: none;
  transition-property: background-color, color;
  transition-duration: 1s;
}

.button:hover {
  background-color: var(--primary-background-color);
  background-image: none;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  color: var(--primary-color);
}

.dark-button {
  background: var(--primary-background-color);
  background-image: linear-gradient(to bottom,rgba(50, 50, 50, 0),rgb(81, 81, 81));
  background-origin: border-box;
  display: inline-block;
  border: 1px solid rgba(233, 233, 233, 0.547);
  border-bottom-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  color: #E1E1E1;
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  margin: 10px 1rem; 
  min-height: 30px;
  padding: 0 12px;
  text-shadow: 0 1px 0 rgb(0, 0, 0);
  text-transform: none;
  transition-property: background-color, color;
  transition-duration: 1s;
}

.dark-button:hover {
  background-color: #1e1e1e;
  background-image: none;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.8);
  color: rgb(223, 223, 223);
}

/* contact-section */
section {
  margin: 50px;
}
.md-form {
  margin: 20px auto;
}
.links {
  margin-top: 50px
}
.links > a {
  padding: 2rem;
  color: var(--secondary-color);
}
.links > a:hover {
  opacity: 0.5;
}
.status {
  color: crimson;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

#hello {
  background-color: var(--primary-background-color);
  border-radius: 5px;
  transition: background-color, 1s;
}

#hello-dark-mode {
  background-color: var(--primary-color);
  /* rgb(175, 175, 175); */
  border-radius: 5px;
  transition: background-color, 1s;
}

.quote-by {
  text-align: right;
  font-style: italic;
}

footer {
  color: var(--primary-color);
  font-weight: 300;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 2rem 0px 2rem; 
}

footer span:nth-child(2) {
  opacity: 0.5;
}

footer a.link {
  color: var(--secondary-link-color);
}

footer a.link:hover {
  text-decoration: underline;
}