@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

#head, .body {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

#head {
  background: black;
  height: 50px;
  width: 50px;
  background-color: #796d43;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/28bd0b5e-96a8-43df-a260-4b48798361d5/d267ohi-90d118ab-cf03-404f-a814-dfa4a88953ad.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI4YmQwYjVlLTk2YTgtNDNkZi1hMjYwLTRiNDg3OTgzNjFkNVwvZDI2N29oaS05MGQxMThhYi1jZjAzLTQwNGYtYTgxNC1kZmE0YTg4OTUzYWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.xjGKvbOYAzgUjXrvMO04n09y6k83k8Lg8bmax2QIAY0')
  position: absolute;
  z-index: 2;
  border-radius: 10px;
  border: 1px solid black;
  border-right: 5px solid #a05740;
}

#board {
  height: 700px;
  width: 700px;
  border: 1px black solid;
  position: relative;
  background-color: white;
}

#apple {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 0;
  animation-name: wiggle;
  animation-duration: 0.5s;
}

@keyframes wiggle {
  0% { transform: skewX(9deg); opacity: 0} 
  10% { transform: skewX(-8deg); } 
  20% { transform: skewX(7deg); } 
  30% { transform: skewX(-6deg); } 
  40% { transform: skewX(5deg); } 
  50% { transform: skewX(-4deg); opacity: 1} 
  60% { transform: skewX(3deg); } 
  70% { transform: skewX(-2deg); } 
  80% { transform: skewX(1deg); } 
  90% { transform: skewX(0deg); } 
  100% { transform: skewX(0deg); } 
} 

.body {
  background: black;
  height: 50px;
  width: 50px;
  background-color: #b3a972;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid black;
}

#scoreboard {
   display: inline-block;
   background-color: transparent;
   margin-left: 20px;
   position: absolute;
   left: 735px;
   color: white;
   top: 350px;
   z-index: 2;
   font-size: 2rem;
   font-weight: 1000;
}

#darken {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.75;
  z-index: 4;
}

#gameover {
  display: none;
  position: absolute;
  opacity: 1;
  flex-direction: column;
  justify-items: space-around;
  text-align: center;
  left: 25%;
  top: 25%;
  transform: translateY(-25%);
  height: 500px;
  width: 500px;
  background-color: white;
  z-index: 10;
  border: 2px solid gray;
  border-radius: 10px;
}

#again {
  background-color: white;
  border: 2px solid black;
  font-size: 1.5rem;
  opacity: 1;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

#again:hover {
  background-color: black;
  color: white;
}

#snake {
  position: absolute;
  left: 530px;
  top: 200px;
  transform: rotate(90deg);
  z-index: 0;
}

#snek {
  height: 300px;
  margin-top: 10px;
}